@model CourseApp.Models.Request
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/vendor/jquery/dist/jquery.min.js"></script>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>

    @Model.Name<br />
    @Model.Email<br />
    @Model.Phone<br />
    @Model.Message<br />

</body>
</html>
